/**
 * This file holds all style of
 *	theme options,
 *	sidebar manager
 *	and layout manager pages
 */
$border:#d3d7da;
$bg:#f8f8f8;
%form-control {
	display: block;
	width: 100%;
	height: 37px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 20px;
	vertical-align: middle;
	background-color: #ffffff;
	background-image: none;
	border: 1px solid $border;
	box-shadow:0 0 8px 1px #e9e8e8 inset;
}

@mixin button(){
	background: #499bea; /* Old browsers */
	background: -moz-linear-gradient(top, #499bea 0%, #207ce5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#499bea), color-stop(100%,#207ce5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #499bea 0%,#207ce5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #499bea 0%,#207ce5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #499bea 0%,#207ce5 100%); /* IE10+ */
	background: linear-gradient(to bottom, #499bea 0%,#207ce5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#207ce5',GradientType=0 ); /* IE6-9 */
	border: none;
	border-radius: 0;
	padding: 0 20px;
	line-height: 40px;
	height: 40px;
	display: inline-block;
	font-size: 14px;
	color: #fff;
	box-shadow: none;
	cursor: pointer;
	-moz-transition:all .3s;
	-webkit-transition:all .3s;
	transition:all .3s;	
	&:hover {
		background: #ff1a00; /* Old browsers */
		background: -moz-linear-gradient(top, #ff1a00 0%, #ff1a00 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff1a00), color-stop(100%,#ff1a00)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #ff1a00 0%,#ff1a00 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #ff1a00 0%,#ff1a00 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, #ff1a00 0%,#ff1a00 100%); /* IE10+ */
		background: linear-gradient(to bottom, #ff1a00 0%,#ff1a00 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff1a00', endColorstr='#ff1a00',GradientType=0 ); /* IE6-9 */
		color: #fff;
	}
}
.clearfix:before, .clearfix:after {
  content: " ";
  display: table; 
}
.clearfix:after {
  clear: both; 
}

.kopa_section_group_layout {
	* {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	a {
		text-decoration: none;
		&:hover,&:focus {
			text-decoration:none;
			outline: none;
		}
	}
	input[type="text"] {
		@extend %form-control;
		margin: 0;
	}
	.kopa_section_group {
		position: relative;
	}
	.kopa_controls {
		position: relative;
		@extend .clearfix;
		select {
			margin: 0;
			width: 100%;
		}
	}
	.kopa_group_content {
		overflow: hidden;
	}
	.kopa_section_layout_image {
		padding-left: 20px;
		float: right;
		width: 65%;
		img {
			display: block;
			width: 100%;
			height: auto;
			border: 1px solid $border;
		}
	}
	.kopa_section {
		padding: 15px 20px 20px;
		border: 1px solid #d3d7da;
		margin-top: -1px;
		background: #fff;
	}
	.kopa_section_select_layout {
		margin-bottom: 10px;
		margin-top: 0;
	}
	.kopa_section_select_layout,.kopa_section_select_area_container {
		float: left;
		width: 35%
	}
	label {
		margin-bottom: 20px;
		margin-top: 9px;
		display: inline-block;
	}
	.kopa_heading {
		font-size: 14px;
		font-weight: 700;
		color: #555;
		border-bottom: none;
		padding: 0;
		margin: 0 0 10px;
		line-height: 1.4;
	}
	.kopa_section_select_area_container,.kopa_section_layout_image {
		display: none;
	}

}
td {
	.kopa_section_group_layout label {
		margin-top:5px;
	}
}
